body{
  user-select: none;
}

#mainmenu{
  width: 1000px;
  height: 660px;
  margin: auto;
  margin-top: 40px;
  /*background-color: rgb(0, 160, 20);*/
}

/*Words-Head*/
#words-head{
  width: 1000px;
  height: 154px;
  text-align: center;

  /*background-color: skyblue;*/
}
#word1{
  font-size: 24px;
  transform: translateY(-11px);
}
#aside-word{
  font-size: 24px;
  transform: translateY(-20px);
  transition-duration: 0.5s;
}

/*Game-Border*/
#game-border{
  width: 800px;
  height: 360px;
  overflow: hidden;
  margin-left: 200px;
  display: inline-block;
  font-size: 0px; /*delete the space arround the span*/

  /*background-color: yellow;*/
}

/*Tip*/
#tip{
  width: 1000px;
  height: 146px;
  transform: translateY(-19px);

  /*background-color: rgb(215, 63, 211);*/
}
#tip-padding{
  margin: 0;
  width: 700px;
  font-size: 19px;
  margin-left: 150px;
}
#box-example{
  background-color: rgb(238, 238, 238);
  width: 150px;
  height: 30px;
  margin-left: 275px;
  border: 1.5px black solid;
}

#Cheat{
  width: 200px;
  height: 380px;
  background-color: red;
  float: right;
  transform: translateY(-620px);
  opacity: 0;
}
